<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 하단메뉴 -->
	<div id="footer" th:fragment="footerFragment">
		  <div class="row" style="background-color: black;">
             <div class="col-md-12 text-center">
                <div class="credits">
                    &copy; <script>document.write(new Date().getFullYear())</script> Get Shit Done Kit by <a th:href="@{http://creative-tim.com}"> Creative Tim</a>, made with <i class="fa fa-heart heart" alt="love"></i> for a better web.
                </div>
            </div>
        </div>
    </div>
	
</html>