<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Begin Header -->

<div id="header" th:fragment="headerFragment">
	<div id="navbar-full">
		<div id="navbar">
			<div style="background-color: black;">
				<nav class="navbar navbar-default navbar-transparent"
					role="navigation-demo">
					<div class="container" style="background-color: white;">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							
							<a class="navbar-brand" th:href="@{/}"><img alt=""
								th:src="@{/assets/img/djmax.png}" style="width: 120px; height: 50px;"></a>

						</div>
						<style>
							.active{
								font-size: 30px;
							}
						</style>
						<script type="text/javascript">
							$(document).ready(function(){
								$('.active').hover(function() {
									  $(this).css("background-color", "#F6F6F6");
									}, function(){
									  $(this).css("background-color", "white");
									});
							})
						</script>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="navigation-example-2" style="padding-top: 20px;">
							<ul class="nav navbar-nav">
								<li class="active"><a th:href="@{#}" style="color: black; ">4B</a></li>
								<li class="active"><a th:href="@{#}" style="color: black;">5B</a></li>
								<li class="active"><a th:href="@{#}" style="color: black;">6B</a></li>
								<li class="active"><a th:href="@{#}" style="color: black;">8B</a></li>
								<li class="dropdown"><a th:href="@{#}"
									class="dropdown-toggle" data-toggle="dropdown"  style="color: black;">Dropdown <b
										class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a th:href="@{#}">Action</a></li>
										<li><a th:href="@{#}">Another action</a></li>
										<li><a th:href="@{#}">Something</a></li>
										<li><a th:href="@{#}">Another action</a></li>
										<li><a th:href="@{#}">Something</a></li>
										<li class="divider"></li>
										<li><a th:href="@{#}">Separated link</a></li>
									</ul></li>
								
							</ul>
							
							<ul class="nav navbar-nav navbar-right">
								<li><a th:href="@{#}"  style="color: black;">회원 가입</a></li>

								<li><a th:href="@{#}"  style="color: black;">로그인</a></li>
							</ul>

						</div>
						<div class="navigation-example">
						</div>
						<!-- /.navbar-collapse -->

					</div>
					<!-- /.container-fluid -->
				</nav>
			</div>
		</div>
		<!--  end navbar -->

	</div>
	<!-- end menu-dropdown -->

</div>
<!-- End Header -->

</html>